<h1> Welcome to Riverdale High</h1>


<h3> Check out: </h2>
<h3> <%= link_to "Riverdale Students", students_path %></h3>
<h3> <%= link_to "Riverdale Myteries", mysteries_path %></h3>

<br>
<marquee><h5> Only on the CW </h5></marquee>
